body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color:#e2dfdf;
    border: 1px solid #9d9a9a;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    line-height: 1.5;
  }
  
  ol {
    padding-left: 20px;
  }
  
  ol li {
    margin-bottom: 10px;
  }