body {
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 30px auto; /* Center the wrapper horizontally */
}

form {
    display: grid;
    gap: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input-field {
    position: relative;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddb243;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.input-field input:focus {
    border-color: #d1990c;
}

.input-field i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #ddb243;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #191818;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #d1990c;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #c37a0c;
}
