/* style.css */

/* Container styles */
.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

/* Table styles */
/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Add border to the table */
}

/* Table header styles */
table th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc; /* Add bottom border to header cells */
}

/* Table body styles */
table td {
    padding: 8px;
    border-bottom: 1px solid #ccc; /* Add bottom border to cells */
}

/* Table row hover effect */
table tr:hover {
    background-color: #f9f9f9; /* Light gray background on hover */
}


/* Button styles */
.buttonu, .buttond, .buttona {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff; /* for update button */
    color: #fff;
    text-decoration: none; /* Changed from "solid" to "none" */
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.buttond {
    background-color: #dd0e34; /* for delete button */
}

.buttona {
    background-color: #3B3131; /* for add button */
}

.buttonu a, .buttond a, .buttona a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}



/* .content {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    /* max-width: 100%; /* Limit the maximum width to the page size */
    /* overflow-x: auto; /* Enable horizontal scrolling if the content overflows */
/* } */ */ */ */

.content {
    margin-left: 0; /* Reset the left margin */
    padding: 20px;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

.user-form {
    display: inline-block; 
        width: 10%; /* Adjust the width of the form as needed */
}

